body {
  background-color: GhostWhite;
}

#main-content {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 200;
}

.card {
  margin: 15px;
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
}

.card:hover {
  cursor: pointer;
}

.content {
  font-size: 14px;
}

.description {
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-weight: 500;
}

ul {
  height: 50px;
}

li {
  display: inline-flex;
}

li.nav:hover {
  background-color: #EEE
}

img.shrink {
  padding: 0;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ratings {
  background: white;
}
.grades {
  text-align: center;
  font-stretch: semi-expanded;
  margin: auto;
}
output {
  text-align: center;
  font-size: 36px;
}
input {
  margin-top: 8px;
  margin-bottom: 20px;
}
